$primary-white: #fff;

$primary-black: #0d0d19;

$primary-ash: #d8d8d8;
$secondary-ash: #f2f2f2;
$tertiary-ash: #7c7c7c;

$text-ash: #7c7c7c;
$text-ash-title: #5c5a5a;

$main-transition: 0.5s all ease-in-out;





