.card {
  max-width: 36rem;

  @include responsive($mobile-l) {
    width: 100%;
  }
  //   border: 1px solid black;
  &__image {
    position: relative;
    height: 25rem;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__body-overlay {
    background-color: $primary-ash;
    position: relative;
    width: 100%;
  }
  &__body {
    background-color: $secondary-ash;

    padding: 2rem 2rem 1rem 2rem;

    h3 {
      font-size: 2rem;
    }
    p {
      margin-top: 1rem;
      font-size: 1.4rem;
      line-height: 2.3rem;
      color: #7c7c7c;
    }

    .button-group {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      text-decoration: none !important;
      display: flex;
      justify-content: flex-end;
    }
  }
}
