.planets {
  .planet__card {
    width: 36rem;
    height: 46rem;
    margin: 0 auto !important;
    position: relative;

    img {
      @include object-cover // position: absolute;
;
    }

    &--body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $primary-black;
      color: white;
      padding: 2rem;

      h3 {
        font-size: 1.6rem;
        text-align: center;
        font-weight: 300;
        font-weight: 700;
      }

      .details {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 1rem;
        p {
          font-size: 1.2rem;
          text-transform: capitalize;
        }
      }
    }
  }
}
