.characters {
  padding: 4rem 6rem 4rem 6rem !important;

  // @include responsive($tablet) {
  //   padding-left: 2rem !important;
  //   padding-right: 2rem !important;
  // }

  .category__body {
    column-gap: 2rem !important;
    row-gap: 5rem !important;
  }
  .character__card {
    height: 41rem;
    display: flex;

    @include responsive($tablet) {
      flex-direction: column;
      height: 100%;
    }

    &--image {
      width: 36rem;
      position: relative;

      @include responsive($tablet) {
        width: 100%;
        height: 31rem;
      }

      flex: none;
      img {
        @include object-cover;
      }
    }

    &--body {
      width: 27rem;
      background: $secondary-ash;
      padding: 2rem;
      color: $text-ash;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include responsive($tablet) {
        width: 100%;
      }

      .title {
        font-size: 1.8rem;
        color: $text-ash-title;
      }

      .sub {
        font-size: 1.6rem;
        text-transform: capitalize;
        // margin-top: 1rem;
      }

      .subtitle {
        margin-top: 0.6rem;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      .content {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
      .read_more {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $text-ash-title;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
